
.post {
    width: 90%;
    margin: 15px auto;
    background-color: #f6f6ee;
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
  }
  
  .post:hover {
    box-shadow: 7px 8px 6px rgb(142, 140, 140);
  }
  
  .postInfo > span {
    padding-right: 15px;
    padding-top: 10px;
  }
  
  .postTitle {
    margin-bottom: 20px;
    color: #eb6436;
  }
  
  .postComments {
    background-color: #18a2b8;
    padding: 10px;
    border-radius: 20px;
    color: white;
  }